/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography {
  background-color: #fafafa;
}

/* Global Material styles */
.mat-mdc-card {
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1) !important;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-table {
  width: 100%;
  margin: 16px 0;
} 